body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
}

hr {
    width: 90%;
    max-width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: min(90vw, 350px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
}

.tile {
    border: 2px solid lightgray;
    aspect-ratio: 1;
    width: 100%;
    box-sizing: border-box;

    color: black;
    font-size: clamp(24px, 8vw, 36px);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

#answer {
    font-size: 24px;
    margin-top: 20px;
}

#keyboard {
    display: none;
}

@media (max-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding: 10px 0 20px;
        box-sizing: border-box;
    }

    #board {
        width: min(90vw, 350px);
        margin-bottom: 20px;
    }

    #keyboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        max-width: 500px;
        margin-top: 20px;
        gap: 6px;
    }

    #keyboard div {
        display: flex;
        justify-content: center;
        gap: 4px;
        width: 100%;
    }

    .key-btn {
        flex: 1;
        min-width: 0;

        background-color: #d3d6da;
        border: none;
        border-radius: 8px;

        font-size: clamp(12px, 4vw, 20px);
        font-weight: bold;

        padding: 12px 0;

        touch-action: manipulation;
    }

    .key-btn.special {
        flex: 1.8;
    }

    #answer {
        font-size: 18px;
        margin: 15px 0 10px;
    }
    
}
#menu{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.menu-content{
    width: 320px;

    background: white;

    border-radius: 20px;

    padding: 30px;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 15px;

    box-shadow: 0 0 30px rgba(0,0,0,.3);
}

.menu-content button{
    width: 220px;
    height: 55px;

    border: none;

    border-radius: 15px;

    font-size: 18px;

    cursor: pointer;
}

#start-btn{
    background: #6AAA64;
    color: white;
}

.dark-theme{
    background: #121213;
    color: white;
}

.dark-theme .tile{
    border-color: #3a3a3c;
    color: white;
}

.dark-theme .menu-content{
    background: #202124;
}

.dark-theme .key-btn{
    background: #818384;
    color: white;
}